@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@layer base {
  body {
    font-family: var(--font-poppins), sans-serif;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  @keyframes marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(calc(-100% / 3)); }
  }
}